// Font FuturaBt Regular - Bold
$arial: 'Arial', sans-serif;

// primary colors
$black: #000000;
$white: #ffffff;
$body-gray: #333333;
$blue: #00A1D3;
$red: #ff0000;

$color-list: (
  black: #000000,
  white: #ffffff,
  body-gray: #333333,
  blue: #00A1D3,
  red: #ff0000
);

// Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xlm: 1399px,
  xxl: 2499px
);
